.custom-input {
  width: 100%;
  height: 64px;
  border-radius: 18px;
  border: 1px solid #f1f1f1;
  padding: 0 24px;
  font-size: 16px;
  color: #002055;
  background-color: #fcfcfc;
  box-sizing: border-box;
  outline: none;
  transition: all 0.3s ease;
}

.custom-input:focus {
  border-color: #756ef3;
  background-color: #fff;
  box-shadow: 0 0 0 1px #756ef3;
}
